.space-big{
	margin-bottom: 50px;
}
.well-sm{
	padding: 10px;
}

.space-gap{
	margin-bottom: 20px;
}

#google-map{
	height: 400px;
}
.smplcty-tab li[role="presentation"]{
	width: 50%;
	text-align: center;
}

@media (min-width:768px){
	.list-group .list-group-item-container{
		width: 25%;
		float: left;
		box-sizing: border-box;
		padding: 10px;
	}
}
