.space-big{
	margin-bottom: 50px;
}
.well-sm{
	padding: 10px;
}

.space-gap{
	margin-bottom: 20px;
}

#google-map{
	height: 400px;
}
.smplcty-tab li[role="presentation"]{
	width: 50%;
	text-align: center;
}